<%= form_for @list, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label t('list.name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('helpers.links.save'), :class => 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'),
                lists_path, :class => 'btn' %>
  </div>
<% end %>
