%h1.page-header
  Dashboard
.row
  .col-md-4
    %dl.dl-horizontal
      %dt= t('dashboard.count_lists')
      %dd= @number_of_lists
      %dt= t('dashboard.count_emails')
      %dd= @number_of_emails
      %dt= t('dashboard.count_users')
      %dd= @number_of_users
.row
  .col-md-4
    %legend= t 'dashboard.top_lists_by_users'
    %dl.dl-horizontal
      - @lists_by_users.take(10).each do |list|
        %dt= list.name
        %dd= list.number_of_users
    #lists_by_users_donut{style: "width:320px; height:320px;"}
    :javascript
      $(function () {
        Highcharts.chart('lists_by_users_donut', {
            chart: {
                type: 'pie',
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y} Users</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                data: #{@lists_by_users.map{|l| [l.name, l.number_of_users]}.to_json.html_safe}
            }]
        });
      });
  .col-md-4
    %legend= t 'dashboard.top_lists_by_emails'
    %dl.dl-horizontal
      - @lists_by_emails.take(10).each do |list|
        %dt= list.name
        %dd= list.number_of_emails
    #lists_by_emails_donut{style: "width:320px; height:320px;"}
    :javascript
      $(function () {
        Highcharts.chart('lists_by_emails_donut', {
            chart: {
                type: 'pie',
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y} Emails</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                data: #{@lists_by_emails.map{|l| [l.name, l.number_of_emails]}.to_json.html_safe}
            }]
        });
      });
  .col-md-4
    %legend= t 'dashboard.top_users_by_emails'
    %dl.dl-horizontal
      - @users_by_emails.take(10).each do |user|
        %dt= user.full_name
        %dd= user.number_of_emails
    #users_by_emails_donut{style: "width:320px; height:320px;"}
    :javascript
      $(function () {
        Highcharts.chart('users_by_emails_donut', {
            chart: {
                type: 'pie',
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y} Emails</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                data: #{@users_by_emails.map{|u| [u.full_name, u.number_of_emails]}.to_json.html_safe}
            }]
        });
      });
