
<div class="offset2 span7 well">
  <ul class="nav nav-list">
	<li class="lead">
		Herzlich Willkommen auf der Mailinglisten-Verwaltung der katholischen Jugend Belm.
	</li>
  </ul>

</div>
        
<div class="offset4 span3">
    <%= form_tag do %>
      <fieldset>
        <legend><%= t('session.login') %></legend>

        <div>
          <%= label_tag :email, t('session.email') %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
          <%= label_tag :password, t('session.password') %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
       	  <%= hidden_field_tag :login %>
          <%= submit_tag t('session.login'), class: 'btn btn-primary'%>
        </div>
      </fieldset>
    <% end %>
</div>

