
<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :first_name, t('user.first_name'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, t('user.name'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, t('user.email'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, t('user.role'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.collection_select :role, User.roles, :to_s, :to_s ,{}, {class: 'form-control'} %>
    </div>
	<div class="col-sm-7">
      	<p class="form-control-static"><%= t('user.role_legend') %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lists, t('user.lists'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_check_boxes :list_ids, List.all, :id, :name, :item_wrapper_class => 'checkbox_container'%>
    </div>
  </div>
  
  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-4">
	    <%= f.submit t('helpers.links.save'), :class => 'btn btn-primary' %>
	    <%= link_to t('helpers.links.cancel'), :back, :class => 'btn btn-default' %>
	</div>
  </div>
<% end %>


