<h1>Datenimport</h1>

	
<legend>Folgende Benutzer werden neu angelegt:</legend>
<div class="col-md-5">
	<table class="table table-condensed table-bordered"> 
		<thead>
			<tr>
				<th></th>
				<th><%= t 'user.first_name'%></th>
				<th><%= t 'list.name'%></th>
				<th><%= t 'user.email'%></th>
				<th></th>
			</tr>
		</thead> 
	
		<tbody>  
		<% @users.each_with_index do |user, i| %>
			<% if user.valid? %>
			<tr>
			<% else %>
			<tr class="danger">
			<% end %>
				<td><%= i %></td>
				<td><%= user.first_name %></td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td>
					<% if (!user.valid?) %>
						<%user.errors.messages.each do |attr, m|%>
							<%= "#{attr}: " %>
							<%= m.join(' und ')%>
						<% end %>
					<% end %>
				</td>
			</tr>      
		<% end %>
		</tbody>
	
	</table>
</div>
	
<legend>Folgende Listen werden neu angelegt:</legend>
<div class="col-md-5">
	<table class="table table-condensed table-bordered"> 
		<thead>
			<tr>
				<th></th>
				<th><%= t 'list.name'%></th>
				<th></th>
			</tr>
		</thead> 
	
		<tbody>  
		<% @lists.each_with_index do |list, i| %>
			<% if list.valid? %>
			<tr>
			<% else %>
			<tr class="danger">
			<% end %>
				<td><%= i %></td>
				<td><%= list.name %></td>
				<td>
					<% if (!list.valid?) %>
						<%list.errors.messages.each do |attr, m|%>
							<%= "#{attr}: " %>
							<%= m.join(' und ')%>
						<% end %>
					<% end %>
				</td>
			</tr>      
		<% end %>
		</tbody>
	
	</table>
</div>	
<legend>Folgende Listenabos werden angelegt:</legend>
<div class="col-md-5">
	<table class="table table-condensed table-bordered"> 
		<thead>
			<tr>
				<th></th>
				<th><%= t 'user.email'%></th>
				<th><%= t 'list.name'%></th>
			</tr>
		</thead> 
	
		<tbody>  
		<% @subscriptions.each_with_index do |sub, i| %>
			<tr>
				<td><%= i %></td>
				<td><%= sub[:user] %></td>
				<td><%= sub[:list] %></td>
			</tr>      
		<% end %>
		</tbody>
	
	</table>
</div>
<div class="row">
	<div class="col-md-12">
		<%= form_tag() do %>
		  	<%= hidden_field_tag :users, @users.to_json %>
		  	<%= hidden_field_tag :lists, @lists.to_json %>
		  	<%= hidden_field_tag :subscriptions, @subscriptions.to_json %>
		  	<%= submit_tag "Die Daten sollen wie dargestellt eingespielt werden", name: 'confirm', class: 'btn btn-primary'  %>
			<%= submit_tag "Abbrechen", name: 'fsdf', class: 'btn btn-alert'  %>
		<% end %>
	</div>
</div>
