%h1 Datenimport
%legend Importiere neue Benutzer
.col-md-10
  %dl
    %dt
      Bitte die folgende Tabelle genau prüfen.
  %li Einträge mit Fehlermeldung werden beim Import ignoriert.
  %li Fehler müssen in der Datei behoben werden und diese muss dann neu hochgeladen werden.
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th
        %th= t 'user.first_name'
        %th= t 'user.name'
        %th= t 'user.email'
        %th
    %tbody
      - @users.each_with_index do |user, i|
        - if user.valid?
          %tr
            - else
              %tr.danger
                %td= i
                %td= user.first_name
                %td= user.name
                %td= user.email
                %td
                  - if (!user.valid?)
                    - user.errors.messages.each do |attr, m|
                      = "#{attr}: "
                      = m.join(' und ')
.col-md-10
  = form_tag do
    = hidden_field_tag :users, @users.to_json
    = submit_tag "Die Tabelle ist korrekt und die Benutzer sollen eingespielt werden", name: 'confirm', class: 'btn btn-primary'
    = submit_tag "Abbrechen", name: 'fsdf', class: 'btn btn-alert'
