<h1>Datenimport</h1>

<legend>Importiere Benutzer in die Liste <b><%= @list.name %></b></legend>

<div class="span12">
	<span class="lead">
		Bitte die folgende Tabelle prüfen.
	</span>
</div>


<div class="span10">
	<legend>Bitte prüfen</legend>
	<table class="table table-condensed table-bordered"> 
		<thead>
			<tr>
				<th><%= t 'user.first_name'%></th>
				<th><%= t 'user.name'%></th>
				<th><%= t 'user.email'%></th>
				<th></th>
			</tr>
		</thead> 
	
		<tbody>  
		<% @users.each do |user| %>
			<% if user.valid? %>
			<tr>
			<% else %>
			<tr class="error">
			<% end %>
			
				<td><%= user.first_name %></td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td>
					<% if (!user.valid?) %>
						<%user.errors.messages.each do |attr, m|%>
							<%= "#{attr}: " %>
							<%= m.join(' und ')%>
						<% end %>
					<% end %>
				</td>
			</tr>      
		<% end %>
		</tbody>
	
	</table>
</div>
<div class="span12">
	<%= form_tag() do %>
	  <%= hidden_field_tag :list_id, @list.id %>
	  <%= hidden_field_tag :users, @users.to_json %>
	  <%= submit_tag "Die Tabelle ist korrekt und in die Liste #{@list.name} eingespielt werden", name: 'confirm', class: 'btn btn-primary'  %>
	
	<% end %>
</div>