<%= form_for @email, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :from, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all, :id , :email, active: false, :selected => current_user.id,  :class=> 'dropdown' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lists, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_check_boxes :list_ids, List.all, :id, :name, :class => 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area', cols: '30', rows: '20' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :send_email, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emails_path, :class => 'btn' %>
  </div>
<% end %>
