<%- model_class = Email -%>
<h1><%= t('email.title') %></h1>
<table class="table table-striped table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('email.from') %></th>
      <th><%= t('email.subject') %></th>
      <th><%= t('email.lists') %></th>
      <th><%= t('email.sent_at') %></th>
      <th><%= t('email.status') %></th>
      <th><%= t('helpers.actions') %></th>
    </tr>
    <tr class="search-row">
  	  <%= search_form_for @q, class: 'form-inline' do |f| %>
  		<th><%= f.text_field :user_email_cont, placeholder: t('user.email'), class: 'form-control search-input' %></th>
  		<th><%= f.text_field :subject_cont, placeholder: t('email.subject'), class: 'form-control search-input' %></th>
  		<th><%= f.collection_select :lists_name_eq, List.all, :name, :name , {include_blank: t(:all)}, {class: 'form-control search-input'} %></th>
  		<th></th>
  		<th></th>
  		<th><%= f.submit t('helpers.filter'), class: "btn btn-primary" %>
  			<%= f.submit t('helpers.clear_filter'), name: :clear_search, class: "btn btn-primary" %>
  		</th>
      <% end %>
  	</tr>

  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.user.name_with_email if email.user %></td>
        <td><%= email.subject %></td>
        <td><%= email.lists.sort.join(', ') %></td>
        <td><%=l email.created_at %></td>
        <td><%= email.status %></td>
        <td>
          <%= link_to t('helpers.links.destroy'),
                      email_path(email),
                      :method => :delete,
                      :data => { :confirm => t("helpers.links.confirm") },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>