<h1>Feedback</h1>

<legend>Feedback, Anregungen und Fehler melden</legend>

<%= simple_form_for :feedback, html: { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label t('feedback.subject'), class: 'control-label' %>
    <div class="controls">
     	<%= f.text_field :subject, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('feedback.content'), class: 'control-label' %>
    <div class="controls">
     	<%= f.text_area :content, class: 'text_area field span5', cols: "40", rows: "10" %>
    </div>
  </div>
  
  <div class="form-actions">
	<%= f.submit t('feedback.submit'), class: 'btn btn-primary' %>
  </div>

<% end %>

